@import "tailwindcss";

@theme {
  --font-cairo: var(--font-cairo), "sans-serif";
  --font-amiri: var(--font-amiri), "serif";
}

/* Optional Custom Globals */
body {
  font-family: var(--font-cairo);
}
